[
    Import("some_module"),
    Var((
        name: "TEXT_PREFIX",
        ty: Some("Component"),
        value: Operation((
            lhs: Component((
                from_expr: None,
                values: {
                    "text": String("Hello, "),
                },
            )),
            op: "+",
            rhs: Nbt((
                ty: Some("component"),
                data: {
                    "color": String("blue"),
                },
            )),
        )),
        is_const: true,
    )),
    Var((
        name: "PLAYER",
        ty: Some("Entity"),
        value: Selector((
            entity: "@s",
            params: {},
        )),
        is_const: true,
    )),
    Func((
        name: "say_something",
        custom_name: None,
        args: [],
        ret: None,
        body: [
            Command((
                func: "tellraw",
                args: [
                    Selector((
                        entity: "@a",
                        params: {},
                    )),
                    Array([
                        Ident("TEXT_PREFIX"),
                        Operation((
                            lhs: Component((
                                from_expr: Some(Ident("PLAYER")),
                                values: {},
                            )),
                            op: "+",
                            rhs: Nbt((
                                ty: Some("component"),
                                data: {
                                    "color": String("red"),
                                },
                            )),
                        )),
                        Component((
                            from_expr: None,
                            values: {
                                "text": String("!"),
                            },
                        )),
                    ]),
                ],
                is_command: true,
            )),
        ],
    )),
    Func((
        name: "say_hi",
        custom_name: Some("_:say_hi"),
        args: [],
        ret: None,
        body: [
            Call((
                func: "say_something",
                args: [],
                is_command: false,
            )),
        ],
    )),
    Func((
        name: "test_floats",
        custom_name: None,
        args: [],
        ret: Some("float"),
        body: [
            Var((
                name: "result",
                ty: None,
                value: Operation((
                    lhs: Float(0.1),
                    op: "+",
                    rhs: Float(0.2),
                )),
                is_const: false,
            )),
            Command((
                func: "tellraw",
                args: [
                    Selector((
                        entity: "@a",
                        params: {},
                    )),
                    Array([
                        Component((
                            from_expr: Some(Ident("result")),
                            values: {},
                        )),
                    ]),
                ],
                is_command: true,
            )),
            Return(Ident("result")),
        ],
    )),
    Func((
        name: "test_return",
        custom_name: Some("_:test_return"),
        args: [],
        ret: None,
        body: [
            Var((
                name: "result",
                ty: None,
                value: Call((
                    func: "test_floats",
                    args: [],
                    is_command: false,
                )),
                is_const: false,
            )),
            Command((
                func: "tellraw",
                args: [
                    Selector((
                        entity: "@a",
                        params: {},
                    )),
                    Array([
                        Component((
                            from_expr: Some(Ident("result")),
                            values: {},
                        )),
                    ]),
                ],
                is_command: true,
            )),
        ],
    )),
]