root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
tab_width = 4
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.gradle]
indent_style = space
indent_size = 4

[*.java]
indent_style = space
indent_size = 4

[*.json]
indent_style = space
indent_size = 4

[quilt.mod.json]
indent_style = space
tab_width = 4

[*.toml]
indent_style = space
tab_width = 4

[*.properties]
indent_style = space
indent_size = 4
